8874-detectdupliate.xml
<?xml version="1.0" ?>
<template encoding-version="1.0">
  <description></description>
  <groupId>f04d3eb7-0157-1000-038e-29aa9333867f</groupId>
  <name>DetectDupliate@recordlevel</name>
  <snippet>
    <connections>
      <id>ce61a1d7-58af-43d9-0000-000000000000</id>
      <parentGroupId>f04d3eb7-0157-1000-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>0</backPressureObjectThreshold>
      <destination>
        <groupId>f04d3eb7-0157-1000-0000-000000000000</groupId>
        <id>7c272d86-05d6-4c2b-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>f04d3eb7-0157-1000-0000-000000000000</groupId>
        <id>a1a19019-99b3-48ee-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>eb6c9b30-1e45-403f-0000-000000000000</id>
      <parentGroupId>f04d3eb7-0157-1000-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>0</backPressureObjectThreshold>
      <destination>
        <groupId>f04d3eb7-0157-1000-0000-000000000000</groupId>
        <id>9a426406-e1be-4c21-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>f04d3eb7-0157-1000-0000-000000000000</groupId>
        <id>2ce23ce0-1ea8-4887-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>fcdf694c-0157-1000-0000-000000000000</id>
      <parentGroupId>f04d3eb7-0157-1000-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>f04d3eb7-0157-1000-0000-000000000000</groupId>
        <id>fcdf3cd4-0157-1000-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>f04d3eb7-0157-1000-0000-000000000000</groupId>
        <id>fcdb0eff-0157-1000-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>fcdf9860-0157-1000-0000-000000000000</id>
      <parentGroupId>f04d3eb7-0157-1000-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>f04d3eb7-0157-1000-0000-000000000000</groupId>
        <id>a1a19019-99b3-48ee-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>splits</selectedRelationships>
      <source>
        <groupId>f04d3eb7-0157-1000-0000-000000000000</groupId>
        <id>fcdf3cd4-0157-1000-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>fce0d1c8-0157-1000-0000-000000000000</id>
      <parentGroupId>f04d3eb7-0157-1000-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>f04d3eb7-0157-1000-0000-000000000000</groupId>
        <id>fce09d21-0157-1000-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>non-duplicate</selectedRelationships>
      <source>
        <groupId>f04d3eb7-0157-1000-0000-000000000000</groupId>
        <id>7c272d86-05d6-4c2b-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>fce13fd2-0157-1000-0000-000000000000</id>
      <parentGroupId>f04d3eb7-0157-1000-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>f04d3eb7-0157-1000-0000-000000000000</groupId>
        <id>fce0f416-0157-1000-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>duplicate</selectedRelationships>
      <source>
        <groupId>f04d3eb7-0157-1000-0000-000000000000</groupId>
        <id>7c272d86-05d6-4c2b-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>29e481a5-38e8-4a02-0000-000000000000</id>
      <parentGroupId>f04d3eb7-0157-1000-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>0</backPressureObjectThreshold>
      <destination>
        <groupId>f04d3eb7-0157-1000-0000-000000000000</groupId>
        <id>e606a917-a9a3-48ab-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>merged</selectedRelationships>
      <source>
        <groupId>f04d3eb7-0157-1000-0000-000000000000</groupId>
        <id>9a426406-e1be-4c21-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>33b656a4-197c-4811-0000-000000000000</id>
      <parentGroupId>f04d3eb7-0157-1000-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>0</backPressureObjectThreshold>
      <destination>
        <groupId>f04d3eb7-0157-1000-0000-000000000000</groupId>
        <id>2ce23ce0-1ea8-4887-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>matched</selectedRelationships>
      <source>
        <groupId>f04d3eb7-0157-1000-0000-000000000000</groupId>
        <id>d8f2b55b-1952-467c-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>342432ae-db26-430c-0000-000000000000</id>
      <parentGroupId>f04d3eb7-0157-1000-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>0</backPressureObjectThreshold>
      <destination>
        <groupId>f04d3eb7-0157-1000-0000-000000000000</groupId>
        <id>7e8a1683-dbbe-46fa-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>merged</selectedRelationships>
      <source>
        <groupId>f04d3eb7-0157-1000-0000-000000000000</groupId>
        <id>9a426406-e1be-4c21-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <controllerServices>
      <id>3903ddc6-50fc-4d41-0000-000000000000</id>
      <parentGroupId>f04d3eb7-0157-1000-0000-000000000000</parentGroupId>
      <comments></comments>
      <descriptors>
        <entry>
          <key>Server Hostname</key>
          <value>
            <name>Server Hostname</name>
          </value>
        </entry>
        <entry>
          <key>Server Port</key>
          <value>
            <name>Server Port</name>
          </value>
        </entry>
        <entry>
          <key>SSL Context Service</key>
          <value>
            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
            <name>SSL Context Service</name>
          </value>
        </entry>
        <entry>
          <key>Communications Timeout</key>
          <value>
            <name>Communications Timeout</name>
          </value>
        </entry>
      </descriptors>
      <name>DistributedMapCacheClientService</name>
      <properties>
        <entry>
          <key>Server Hostname</key>
          <value>localhost</value>
        </entry>
        <entry>
          <key>Server Port</key>
          <value>4557</value>
        </entry>
        <entry>
          <key>SSL Context Service</key>
        </entry>
        <entry>
          <key>Communications Timeout</key>
          <value>30 secs</value>
        </entry>
      </properties>
      <state>ENABLED</state>
      <type>org.apache.nifi.distributed.cache.client.DistributedMapCacheClientService</type>
    </controllerServices>
    <processors>
      <id>9a426406-e1be-4c21-0000-000000000000</id>
      <parentGroupId>f04d3eb7-0157-1000-0000-000000000000</parentGroupId>
      <position>
        <x>858.0016237781388</x>
        <y>1184.7524449853531</y>
      </position>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Merge Strategy</key>
            <value>
              <name>Merge Strategy</name>
            </value>
          </entry>
          <entry>
            <key>Merge Format</key>
            <value>
              <name>Merge Format</name>
            </value>
          </entry>
          <entry>
            <key>Attribute Strategy</key>
            <value>
              <name>Attribute Strategy</name>
            </value>
          </entry>
          <entry>
            <key>Correlation Attribute Name</key>
            <value>
              <name>Correlation Attribute Name</name>
            </value>
          </entry>
          <entry>
            <key>Minimum Number of Entries</key>
            <value>
              <name>Minimum Number of Entries</name>
            </value>
          </entry>
          <entry>
            <key>Maximum Number of Entries</key>
            <value>
              <name>Maximum Number of Entries</name>
            </value>
          </entry>
          <entry>
            <key>Minimum Group Size</key>
            <value>
              <name>Minimum Group Size</name>
            </value>
          </entry>
          <entry>
            <key>Maximum Group Size</key>
            <value>
              <name>Maximum Group Size</name>
            </value>
          </entry>
          <entry>
            <key>Max Bin Age</key>
            <value>
              <name>Max Bin Age</name>
            </value>
          </entry>
          <entry>
            <key>Maximum number of Bins</key>
            <value>
              <name>Maximum number of Bins</name>
            </value>
          </entry>
          <entry>
            <key>Delimiter Strategy</key>
            <value>
              <name>Delimiter Strategy</name>
            </value>
          </entry>
          <entry>
            <key>Header File</key>
            <value>
              <name>Header File</name>
            </value>
          </entry>
          <entry>
            <key>Footer File</key>
            <value>
              <name>Footer File</name>
            </value>
          </entry>
          <entry>
            <key>Demarcator File</key>
            <value>
              <name>Demarcator File</name>
            </value>
          </entry>
          <entry>
            <key>Compression Level</key>
            <value>
              <name>Compression Level</name>
            </value>
          </entry>
          <entry>
            <key>Keep Path</key>
            <value>
              <name>Keep Path</name>
            </value>
          </entry>
        </descriptors>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Merge Strategy</key>
            <value>Bin-Packing Algorithm</value>
          </entry>
          <entry>
            <key>Merge Format</key>
            <value>Binary Concatenation</value>
          </entry>
          <entry>
            <key>Attribute Strategy</key>
            <value>Keep All Unique Attributes</value>
          </entry>
          <entry>
            <key>Correlation Attribute Name</key>
          </entry>
          <entry>
            <key>Minimum Number of Entries</key>
            <value>1</value>
          </entry>
          <entry>
            <key>Maximum Number of Entries</key>
          </entry>
          <entry>
            <key>Minimum Group Size</key>
            <value>0 B</value>
          </entry>
          <entry>
            <key>Maximum Group Size</key>
          </entry>
          <entry>
            <key>Max Bin Age</key>
          </entry>
          <entry>
            <key>Maximum number of Bins</key>
            <value>100</value>
          </entry>
          <entry>
            <key>Delimiter Strategy</key>
            <value>Text</value>
          </entry>
          <entry>
            <key>Header File</key>
          </entry>
          <entry>
            <key>Footer File</key>
          </entry>
          <entry>
            <key>Demarcator File</key>
            <value>
</value>
          </entry>
          <entry>
            <key>Compression Level</key>
            <value>1</value>
          </entry>
          <entry>
            <key>Keep Path</key>
            <value>false</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>MergeContent</name>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>merged</name>
      </relationships>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>original</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.standard.MergeContent</type>
    </processors>
    <processors>
      <id>a1a19019-99b3-48ee-0000-000000000000</id>
      <parentGroupId>f04d3eb7-0157-1000-0000-000000000000</parentGroupId>
      <position>
        <x>488.95398714361136</x>
        <y>3.970955830118612</y>
      </position>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Hash Attribute Name</key>
            <value>
              <name>Hash Attribute Name</name>
            </value>
          </entry>
          <entry>
            <key>Hash Algorithm</key>
            <value>
              <name>Hash Algorithm</name>
            </value>
          </entry>
        </descriptors>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Hash Attribute Name</key>
            <value>hash.value</value>
          </entry>
          <entry>
            <key>Hash Algorithm</key>
            <value>MD5</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>HashContent</name>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.standard.HashContent</type>
    </processors>
    <processors>
      <id>d8f2b55b-1952-467c-0000-000000000000</id>
      <parentGroupId>f04d3eb7-0157-1000-0000-000000000000</parentGroupId>
      <position>
        <x>510.89721061128967</x>
        <y>636.9284963123005</y>
      </position>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Destination</key>
            <value>
              <name>Destination</name>
            </value>
          </entry>
          <entry>
            <key>Return Type</key>
            <value>
              <name>Return Type</name>
            </value>
          </entry>
          <entry>
            <key>Path Not Found Behavior</key>
            <value>
              <name>Path Not Found Behavior</name>
            </value>
          </entry>
          <entry>
            <key>Null Value Representation</key>
            <value>
              <name>Null Value Representation</name>
            </value>
          </entry>
          <entry>
            <key>Depth</key>
            <value>
              <name>Depth</name>
            </value>
          </entry>
          <entry>
            <key>Detailed</key>
            <value>
              <name>Detailed</name>
            </value>
          </entry>
          <entry>
            <key>EventDate</key>
            <value>
              <name>EventDate</name>
            </value>
          </entry>
          <entry>
            <key>EventDateUp</key>
            <value>
              <name>EventDateUp</name>
            </value>
          </entry>
          <entry>
            <key>ID</key>
            <value>
              <name>ID</name>
            </value>
          </entry>
          <entry>
            <key>Latitude</key>
            <value>
              <name>Latitude</name>
            </value>
          </entry>
          <entry>
            <key>Location</key>
            <value>
              <name>Location</name>
            </value>
          </entry>
          <entry>
            <key>Longitude</key>
            <value>
              <name>Longitude</name>
            </value>
          </entry>
          <entry>
            <key>Magnitude</key>
            <value>
              <name>Magnitude</name>
            </value>
          </entry>
          <entry>
            <key>Timezone</key>
            <value>
              <name>Timezone</name>
            </value>
          </entry>
          <entry>
            <key>Type</key>
            <value>
              <name>Type</name>
            </value>
          </entry>
        </descriptors>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Destination</key>
            <value>flowfile-attribute</value>
          </entry>
          <entry>
            <key>Return Type</key>
            <value>auto-detect</value>
          </entry>
          <entry>
            <key>Path Not Found Behavior</key>
            <value>ignore</value>
          </entry>
          <entry>
            <key>Null Value Representation</key>
            <value>empty string</value>
          </entry>
          <entry>
            <key>Depth</key>
            <value>$.geometry.coordinates[2]</value>
          </entry>
          <entry>
            <key>Detailed</key>
            <value>$.properties.detail</value>
          </entry>
          <entry>
            <key>EventDate</key>
            <value>$.properties.time</value>
          </entry>
          <entry>
            <key>EventDateUp</key>
            <value>$.properties.updated</value>
          </entry>
          <entry>
            <key>ID</key>
            <value>$.id</value>
          </entry>
          <entry>
            <key>Latitude</key>
            <value>$.geometry.coordinates[0]</value>
          </entry>
          <entry>
            <key>Location</key>
            <value>$.properties.place</value>
          </entry>
          <entry>
            <key>Longitude</key>
            <value>$.geometry.coordinates[1]</value>
          </entry>
          <entry>
            <key>Magnitude</key>
            <value>$.properties.mag</value>
          </entry>
          <entry>
            <key>Timezone</key>
            <value>$.properties.tz</value>
          </entry>
          <entry>
            <key>Type</key>
            <value>$.properties.type</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>EvaluateJsonPath</name>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>matched</name>
      </relationships>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>unmatched</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.standard.EvaluateJsonPath</type>
    </processors>
    <processors>
      <id>e606a917-a9a3-48ab-0000-000000000000</id>
      <parentGroupId>f04d3eb7-0157-1000-0000-000000000000</parentGroupId>
      <position>
        <x>1762.538779999246</x>
        <y>1237.6925892454594</y>
      </position>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Hadoop Configuration Resources</key>
            <value>
              <name>Hadoop Configuration Resources</name>
            </value>
          </entry>
          <entry>
            <key>Kerberos Principal</key>
            <value>
              <name>Kerberos Principal</name>
            </value>
          </entry>
          <entry>
            <key>Kerberos Keytab</key>
            <value>
              <name>Kerberos Keytab</name>
            </value>
          </entry>
          <entry>
            <key>Kerberos Relogin Period</key>
            <value>
              <name>Kerberos Relogin Period</name>
            </value>
          </entry>
          <entry>
            <key>Directory</key>
            <value>
              <name>Directory</name>
            </value>
          </entry>
          <entry>
            <key>Conflict Resolution Strategy</key>
            <value>
              <name>Conflict Resolution Strategy</name>
            </value>
          </entry>
          <entry>
            <key>Block Size</key>
            <value>
              <name>Block Size</name>
            </value>
          </entry>
          <entry>
            <key>IO Buffer Size</key>
            <value>
              <name>IO Buffer Size</name>
            </value>
          </entry>
          <entry>
            <key>Replication</key>
            <value>
              <name>Replication</name>
            </value>
          </entry>
          <entry>
            <key>Permissions umask</key>
            <value>
              <name>Permissions umask</name>
            </value>
          </entry>
          <entry>
            <key>Remote Owner</key>
            <value>
              <name>Remote Owner</name>
            </value>
          </entry>
          <entry>
            <key>Remote Group</key>
            <value>
              <name>Remote Group</name>
            </value>
          </entry>
          <entry>
            <key>Compression codec</key>
            <value>
              <name>Compression codec</name>
            </value>
          </entry>
        </descriptors>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Hadoop Configuration Resources</key>
            <value>/etc/hadoop/conf/core-site.xml, /etc/hadoop/conf/hdfs-site.xml</value>
          </entry>
          <entry>
            <key>Kerberos Principal</key>
            <value>nifi_user@EC2.INTERNAL.COM</value>
          </entry>
          <entry>
            <key>Kerberos Keytab</key>
            <value>/home/nifi_user/nifi_user.keytab</value>
          </entry>
          <entry>
            <key>Kerberos Relogin Period</key>
            <value>4 hours</value>
          </entry>
          <entry>
            <key>Directory</key>
            <value>/user/nifi_user/EarthquakeData</value>
          </entry>
          <entry>
            <key>Conflict Resolution Strategy</key>
            <value>fail</value>
          </entry>
          <entry>
            <key>Block Size</key>
          </entry>
          <entry>
            <key>IO Buffer Size</key>
          </entry>
          <entry>
            <key>Replication</key>
          </entry>
          <entry>
            <key>Permissions umask</key>
          </entry>
          <entry>
            <key>Remote Owner</key>
          </entry>
          <entry>
            <key>Remote Group</key>
          </entry>
          <entry>
            <key>Compression codec</key>
            <value>NONE</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>PutHDFS</name>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.hadoop.PutHDFS</type>
    </processors>
    <processors>
      <id>fcdb0eff-0157-1000-0000-000000000000</id>
      <parentGroupId>f04d3eb7-0157-1000-0000-000000000000</parentGroupId>
      <position>
        <x>0.0</x>
        <y>0.0</y>
      </position>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Input Directory</key>
            <value>
              <name>Input Directory</name>
            </value>
          </entry>
          <entry>
            <key>File Filter</key>
            <value>
              <name>File Filter</name>
            </value>
          </entry>
          <entry>
            <key>Path Filter</key>
            <value>
              <name>Path Filter</name>
            </value>
          </entry>
          <entry>
            <key>Batch Size</key>
            <value>
              <name>Batch Size</name>
            </value>
          </entry>
          <entry>
            <key>Keep Source File</key>
            <value>
              <name>Keep Source File</name>
            </value>
          </entry>
          <entry>
            <key>Recurse Subdirectories</key>
            <value>
              <name>Recurse Subdirectories</name>
            </value>
          </entry>
          <entry>
            <key>Polling Interval</key>
            <value>
              <name>Polling Interval</name>
            </value>
          </entry>
          <entry>
            <key>Ignore Hidden Files</key>
            <value>
              <name>Ignore Hidden Files</name>
            </value>
          </entry>
          <entry>
            <key>Minimum File Age</key>
            <value>
              <name>Minimum File Age</name>
            </value>
          </entry>
          <entry>
            <key>Maximum File Age</key>
            <value>
              <name>Maximum File Age</name>
            </value>
          </entry>
          <entry>
            <key>Minimum File Size</key>
            <value>
              <name>Minimum File Size</name>
            </value>
          </entry>
          <entry>
            <key>Maximum File Size</key>
            <value>
              <name>Maximum File Size</name>
            </value>
          </entry>
        </descriptors>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Input Directory</key>
            <value>/home/students/nifi/</value>
          </entry>
          <entry>
            <key>File Filter</key>
            <value>file1.csv</value>
          </entry>
          <entry>
            <key>Path Filter</key>
          </entry>
          <entry>
            <key>Batch Size</key>
            <value>10</value>
          </entry>
          <entry>
            <key>Keep Source File</key>
            <value>true</value>
          </entry>
          <entry>
            <key>Recurse Subdirectories</key>
            <value>true</value>
          </entry>
          <entry>
            <key>Polling Interval</key>
            <value>0 sec</value>
          </entry>
          <entry>
            <key>Ignore Hidden Files</key>
            <value>true</value>
          </entry>
          <entry>
            <key>Minimum File Age</key>
            <value>0 sec</value>
          </entry>
          <entry>
            <key>Maximum File Age</key>
          </entry>
          <entry>
            <key>Minimum File Size</key>
            <value>0 B</value>
          </entry>
          <entry>
            <key>Maximum File Size</key>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>300sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>GetFile</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.standard.GetFile</type>
    </processors>
    <processors>
      <id>fcdf3cd4-0157-1000-0000-000000000000</id>
      <parentGroupId>f04d3eb7-0157-1000-0000-000000000000</parentGroupId>
      <position>
        <x>44.609130859375</x>
        <y>218.3653564453125</y>
      </position>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Line Split Count</key>
            <value>
              <name>Line Split Count</name>
            </value>
          </entry>
          <entry>
            <key>Maximum Fragment Size</key>
            <value>
              <name>Maximum Fragment Size</name>
            </value>
          </entry>
          <entry>
            <key>Header Line Count</key>
            <value>
              <name>Header Line Count</name>
            </value>
          </entry>
          <entry>
            <key>Header Line Marker Characters</key>
            <value>
              <name>Header Line Marker Characters</name>
            </value>
          </entry>
          <entry>
            <key>Remove Trailing Newlines</key>
            <value>
              <name>Remove Trailing Newlines</name>
            </value>
          </entry>
        </descriptors>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Line Split Count</key>
            <value>1</value>
          </entry>
          <entry>
            <key>Maximum Fragment Size</key>
          </entry>
          <entry>
            <key>Header Line Count</key>
            <value>0</value>
          </entry>
          <entry>
            <key>Header Line Marker Characters</key>
          </entry>
          <entry>
            <key>Remove Trailing Newlines</key>
            <value>false</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>SplitText</name>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>original</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>splits</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.standard.SplitText</type>
    </processors>
    <processors>
      <id>fce09d21-0157-1000-0000-000000000000</id>
      <parentGroupId>f04d3eb7-0157-1000-0000-000000000000</parentGroupId>
      <position>
        <x>383.609130859375</x>
        <y>404.3653564453125</y>
      </position>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Merge Strategy</key>
            <value>
              <name>Merge Strategy</name>
            </value>
          </entry>
          <entry>
            <key>Merge Format</key>
            <value>
              <name>Merge Format</name>
            </value>
          </entry>
          <entry>
            <key>Attribute Strategy</key>
            <value>
              <name>Attribute Strategy</name>
            </value>
          </entry>
          <entry>
            <key>Correlation Attribute Name</key>
            <value>
              <name>Correlation Attribute Name</name>
            </value>
          </entry>
          <entry>
            <key>Minimum Number of Entries</key>
            <value>
              <name>Minimum Number of Entries</name>
            </value>
          </entry>
          <entry>
            <key>Maximum Number of Entries</key>
            <value>
              <name>Maximum Number of Entries</name>
            </value>
          </entry>
          <entry>
            <key>Minimum Group Size</key>
            <value>
              <name>Minimum Group Size</name>
            </value>
          </entry>
          <entry>
            <key>Maximum Group Size</key>
            <value>
              <name>Maximum Group Size</name>
            </value>
          </entry>
          <entry>
            <key>Max Bin Age</key>
            <value>
              <name>Max Bin Age</name>
            </value>
          </entry>
          <entry>
            <key>Maximum number of Bins</key>
            <value>
              <name>Maximum number of Bins</name>
            </value>
          </entry>
          <entry>
            <key>Delimiter Strategy</key>
            <value>
              <name>Delimiter Strategy</name>
            </value>
          </entry>
          <entry>
            <key>Header File</key>
            <value>
              <name>Header File</name>
            </value>
          </entry>
          <entry>
            <key>Footer File</key>
            <value>
              <name>Footer File</name>
            </value>
          </entry>
          <entry>
            <key>Demarcator File</key>
            <value>
              <name>Demarcator File</name>
            </value>
          </entry>
          <entry>
            <key>Compression Level</key>
            <value>
              <name>Compression Level</name>
            </value>
          </entry>
          <entry>
            <key>Keep Path</key>
            <value>
              <name>Keep Path</name>
            </value>
          </entry>
        </descriptors>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Merge Strategy</key>
            <value>Bin-Packing Algorithm</value>
          </entry>
          <entry>
            <key>Merge Format</key>
            <value>Binary Concatenation</value>
          </entry>
          <entry>
            <key>Attribute Strategy</key>
            <value>Keep Only Common Attributes</value>
          </entry>
          <entry>
            <key>Correlation Attribute Name</key>
          </entry>
          <entry>
            <key>Minimum Number of Entries</key>
            <value>1</value>
          </entry>
          <entry>
            <key>Maximum Number of Entries</key>
          </entry>
          <entry>
            <key>Minimum Group Size</key>
            <value>0 B</value>
          </entry>
          <entry>
            <key>Maximum Group Size</key>
          </entry>
          <entry>
            <key>Max Bin Age</key>
          </entry>
          <entry>
            <key>Maximum number of Bins</key>
            <value>100</value>
          </entry>
          <entry>
            <key>Delimiter Strategy</key>
            <value>Filename</value>
          </entry>
          <entry>
            <key>Header File</key>
          </entry>
          <entry>
            <key>Footer File</key>
          </entry>
          <entry>
            <key>Demarcator File</key>
          </entry>
          <entry>
            <key>Compression Level</key>
            <value>1</value>
          </entry>
          <entry>
            <key>Keep Path</key>
            <value>false</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>MergeContent</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>merged</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>original</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.standard.MergeContent</type>
    </processors>
    <processors>
      <id>fce0f416-0157-1000-0000-000000000000</id>
      <parentGroupId>f04d3eb7-0157-1000-0000-000000000000</parentGroupId>
      <position>
        <x>774.609130859375</x>
        <y>394.3653564453125</y>
      </position>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Merge Strategy</key>
            <value>
              <name>Merge Strategy</name>
            </value>
          </entry>
          <entry>
            <key>Merge Format</key>
            <value>
              <name>Merge Format</name>
            </value>
          </entry>
          <entry>
            <key>Attribute Strategy</key>
            <value>
              <name>Attribute Strategy</name>
            </value>
          </entry>
          <entry>
            <key>Correlation Attribute Name</key>
            <value>
              <name>Correlation Attribute Name</name>
            </value>
          </entry>
          <entry>
            <key>Minimum Number of Entries</key>
            <value>
              <name>Minimum Number of Entries</name>
            </value>
          </entry>
          <entry>
            <key>Maximum Number of Entries</key>
            <value>
              <name>Maximum Number of Entries</name>
            </value>
          </entry>
          <entry>
            <key>Minimum Group Size</key>
            <value>
              <name>Minimum Group Size</name>
            </value>
          </entry>
          <entry>
            <key>Maximum Group Size</key>
            <value>
              <name>Maximum Group Size</name>
            </value>
          </entry>
          <entry>
            <key>Max Bin Age</key>
            <value>
              <name>Max Bin Age</name>
            </value>
          </entry>
          <entry>
            <key>Maximum number of Bins</key>
            <value>
              <name>Maximum number of Bins</name>
            </value>
          </entry>
          <entry>
            <key>Delimiter Strategy</key>
            <value>
              <name>Delimiter Strategy</name>
            </value>
          </entry>
          <entry>
            <key>Header File</key>
            <value>
              <name>Header File</name>
            </value>
          </entry>
          <entry>
            <key>Footer File</key>
            <value>
              <name>Footer File</name>
            </value>
          </entry>
          <entry>
            <key>Demarcator File</key>
            <value>
              <name>Demarcator File</name>
            </value>
          </entry>
          <entry>
            <key>Compression Level</key>
            <value>
              <name>Compression Level</name>
            </value>
          </entry>
          <entry>
            <key>Keep Path</key>
            <value>
              <name>Keep Path</name>
            </value>
          </entry>
        </descriptors>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Merge Strategy</key>
            <value>Bin-Packing Algorithm</value>
          </entry>
          <entry>
            <key>Merge Format</key>
            <value>Binary Concatenation</value>
          </entry>
          <entry>
            <key>Attribute Strategy</key>
            <value>Keep Only Common Attributes</value>
          </entry>
          <entry>
            <key>Correlation Attribute Name</key>
          </entry>
          <entry>
            <key>Minimum Number of Entries</key>
            <value>1</value>
          </entry>
          <entry>
            <key>Maximum Number of Entries</key>
          </entry>
          <entry>
            <key>Minimum Group Size</key>
            <value>0 B</value>
          </entry>
          <entry>
            <key>Maximum Group Size</key>
          </entry>
          <entry>
            <key>Max Bin Age</key>
          </entry>
          <entry>
            <key>Maximum number of Bins</key>
            <value>100</value>
          </entry>
          <entry>
            <key>Delimiter Strategy</key>
            <value>Filename</value>
          </entry>
          <entry>
            <key>Header File</key>
          </entry>
          <entry>
            <key>Footer File</key>
          </entry>
          <entry>
            <key>Demarcator File</key>
          </entry>
          <entry>
            <key>Compression Level</key>
            <value>1</value>
          </entry>
          <entry>
            <key>Keep Path</key>
            <value>false</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>MergeContent</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>merged</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>original</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.standard.MergeContent</type>
    </processors>
    <processors>
      <id>2ce23ce0-1ea8-4887-0000-000000000000</id>
      <parentGroupId>f04d3eb7-0157-1000-0000-000000000000</parentGroupId>
      <position>
        <x>863.234854843382</x>
        <y>971.2369424805897</y>
      </position>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Regular Expression</key>
            <value>
              <name>Regular Expression</name>
            </value>
          </entry>
          <entry>
            <key>Replacement Value</key>
            <value>
              <name>Replacement Value</name>
            </value>
          </entry>
          <entry>
            <key>Character Set</key>
            <value>
              <name>Character Set</name>
            </value>
          </entry>
          <entry>
            <key>Maximum Buffer Size</key>
            <value>
              <name>Maximum Buffer Size</name>
            </value>
          </entry>
          <entry>
            <key>Replacement Strategy</key>
            <value>
              <name>Replacement Strategy</name>
            </value>
          </entry>
          <entry>
            <key>Evaluation Mode</key>
            <value>
              <name>Evaluation Mode</name>
            </value>
          </entry>
        </descriptors>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Regular Expression</key>
            <value>(?s:^.*$)</value>
          </entry>
          <entry>
            <key>Replacement Value</key>
            <value>${ID}|${Location}|${Magnitude}|${Depth}|${Latitude}|${Longitude}|${Timezone}|${EventDate:format("yyyy/MM/dd HH:mm:ss.SSS'Z'")}|${EventDateUp:format("yyyy/MM/dd HH:mm:ss.SSS'Z'")}|${Type:replace('$',''):replace('\n','')}</value>
          </entry>
          <entry>
            <key>Character Set</key>
            <value>UTF-8</value>
          </entry>
          <entry>
            <key>Maximum Buffer Size</key>
            <value>1 MB</value>
          </entry>
          <entry>
            <key>Replacement Strategy</key>
            <value>Regex Replace</value>
          </entry>
          <entry>
            <key>Evaluation Mode</key>
            <value>Entire text</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>ReplaceText</name>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.standard.ReplaceText</type>
    </processors>
    <processors>
      <id>7c272d86-05d6-4c2b-0000-000000000000</id>
      <parentGroupId>f04d3eb7-0157-1000-0000-000000000000</parentGroupId>
      <position>
        <x>486.867882217407</x>
        <y>190.53475344017056</y>
      </position>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Cache Entry Identifier</key>
            <value>
              <name>Cache Entry Identifier</name>
            </value>
          </entry>
          <entry>
            <key>FlowFile Description</key>
            <value>
              <name>FlowFile Description</name>
            </value>
          </entry>
          <entry>
            <key>Age Off Duration</key>
            <value>
              <name>Age Off Duration</name>
            </value>
          </entry>
          <entry>
            <key>Distributed Cache Service</key>
            <value>
              <identifiesControllerService>org.apache.nifi.distributed.cache.client.DistributedMapCacheClient</identifiesControllerService>
              <name>Distributed Cache Service</name>
            </value>
          </entry>
          <entry>
            <key>Cache The Entry Identifier</key>
            <value>
              <name>Cache The Entry Identifier</name>
            </value>
          </entry>
        </descriptors>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Cache Entry Identifier</key>
            <value>${hash.value}</value>
          </entry>
          <entry>
            <key>FlowFile Description</key>
            <value>earthquake.data</value>
          </entry>
          <entry>
            <key>Age Off Duration</key>
            <value>10 min</value>
          </entry>
          <entry>
            <key>Distributed Cache Service</key>
            <value>3903ddc6-50fc-4d41-0000-000000000000</value>
          </entry>
          <entry>
            <key>Cache The Entry Identifier</key>
            <value>true</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>DetectDuplicate</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>duplicate</name>
      </relationships>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>non-duplicate</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.standard.DetectDuplicate</type>
    </processors>
    <processors>
      <id>7e8a1683-dbbe-46fa-0000-000000000000</id>
      <parentGroupId>f04d3eb7-0157-1000-0000-000000000000</parentGroupId>
      <position>
        <x>1763.575829811517</x>
        <y>1026.2022148267329</y>
      </position>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Directory</key>
            <value>
              <name>Directory</name>
            </value>
          </entry>
          <entry>
            <key>Conflict Resolution Strategy</key>
            <value>
              <name>Conflict Resolution Strategy</name>
            </value>
          </entry>
          <entry>
            <key>Create Missing Directories</key>
            <value>
              <name>Create Missing Directories</name>
            </value>
          </entry>
          <entry>
            <key>Maximum File Count</key>
            <value>
              <name>Maximum File Count</name>
            </value>
          </entry>
          <entry>
            <key>Last Modified Time</key>
            <value>
              <name>Last Modified Time</name>
            </value>
          </entry>
          <entry>
            <key>Permissions</key>
            <value>
              <name>Permissions</name>
            </value>
          </entry>
          <entry>
            <key>Owner</key>
            <value>
              <name>Owner</name>
            </value>
          </entry>
          <entry>
            <key>Group</key>
            <value>
              <name>Group</name>
            </value>
          </entry>
        </descriptors>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Directory</key>
            <value>/tmp/tweets/Site</value>
          </entry>
          <entry>
            <key>Conflict Resolution Strategy</key>
            <value>fail</value>
          </entry>
          <entry>
            <key>Create Missing Directories</key>
            <value>true</value>
          </entry>
          <entry>
            <key>Maximum File Count</key>
          </entry>
          <entry>
            <key>Last Modified Time</key>
          </entry>
          <entry>
            <key>Permissions</key>
          </entry>
          <entry>
            <key>Owner</key>
          </entry>
          <entry>
            <key>Group</key>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>PutFile</name>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.standard.PutFile</type>
    </processors>
  </snippet>
  <timestamp>10/25/2016 23:27:25 IST</timestamp>
</template>