templates/KafkaRawToHDFS.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template>
    <description>Processor Group Template to pull from Kafka Topic continuously and write raw output to hdfs. This processor could be modified and updated to add any required metadata.</description>
    <groupId>4858c642-0163-1000-625a-bebff557eac5</groupId>
    <name>KafkaRawToHDFS</name>
    <snippet>
        <processGroups>
            <id>5ddcd9a9-daa3-47a4-9009-aaf892e3a601</id>
            <parentGroupId>7c84501d-d10c-407c-b9f3-1d80e38fe36a</parentGroupId>
            <position>
                <x>13.563720703125</x>
                <y>-76.5101318359375</y>
            </position>
            <comments>Processor Group Template to pull from Kafka Topic continuously and write raw output to hdfs. This processor could be modified and updated to add any required metadata.</comments>
            <contents>
                <connections>
                    <id>84983959-a32d-4ce5-abc7-768ee9b83a0d</id>
                    <parentGroupId>5ddcd9a9-daa3-47a4-9009-aaf892e3a601</parentGroupId>
                    <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>0</backPressureObjectThreshold>
                    <destination>
                        <groupId>5ddcd9a9-daa3-47a4-9009-aaf892e3a601</groupId>
                        <id>079d846d-d951-4188-9613-03e38083e238</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <name>
          </name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>5ddcd9a9-daa3-47a4-9009-aaf892e3a601</groupId>
                        <id>f155df39-c188-43b1-bc24-a25145ed57df</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>1290b2fe-332e-4947-8460-57181b01d493</id>
                    <parentGroupId>5ddcd9a9-daa3-47a4-9009-aaf892e3a601</parentGroupId>
                    <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>0</backPressureObjectThreshold>
                    <destination>
                        <groupId>5ddcd9a9-daa3-47a4-9009-aaf892e3a601</groupId>
                        <id>f155df39-c188-43b1-bc24-a25145ed57df</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <name>
          </name>
                    <selectedRelationships>merged</selectedRelationships>
                    <source>
                        <groupId>5ddcd9a9-daa3-47a4-9009-aaf892e3a601</groupId>
                        <id>298fca06-1fb3-441e-a155-f6074181d1cf</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>67fc2080-2dec-4f90-8eb9-97d4d0775ade</id>
                    <parentGroupId>5ddcd9a9-daa3-47a4-9009-aaf892e3a601</parentGroupId>
                    <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>0</backPressureObjectThreshold>
                    <destination>
                        <groupId>5ddcd9a9-daa3-47a4-9009-aaf892e3a601</groupId>
                        <id>298fca06-1fb3-441e-a155-f6074181d1cf</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>5ddcd9a9-daa3-47a4-9009-aaf892e3a601</groupId>
                        <id>0aa72ec0-717f-4386-983f-73b8647ac810</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>717cc1b2-2f90-4662-b9fa-28a8a978457c</id>
                    <parentGroupId>5ddcd9a9-daa3-47a4-9009-aaf892e3a601</parentGroupId>
                    <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>0</backPressureObjectThreshold>
                    <destination>
                        <groupId>5ddcd9a9-daa3-47a4-9009-aaf892e3a601</groupId>
                        <id>0aa72ec0-717f-4386-983f-73b8647ac810</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>5ddcd9a9-daa3-47a4-9009-aaf892e3a601</groupId>
                        <id>a2df0212-3e79-4d31-8dfd-3271bef4cbe0</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <processors>
                    <id>a2df0212-3e79-4d31-8dfd-3271bef4cbe0</id>
                    <parentGroupId>5ddcd9a9-daa3-47a4-9009-aaf892e3a601</parentGroupId>
                    <position>
                        <x>-395.38626097451237</x>
                        <y>-525.0499498225602</y>
                    </position>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments>Pull from kafka.Required fields here are Topic and Zookeeper connection string. Everything else should be tweaked as needed.</comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Topic Name</key>
<value>
    <name>Topic Name</name>
</value>
                            </entry>
                            <entry>
<key>Kafka Communications Timeout</key>
<value>
    <name>Kafka Communications Timeout</name>
</value>
                            </entry>
                            <entry>
<key>Client Name</key>
<value>
    <name>Client Name</name>
</value>
                            </entry>
                            <entry>
<key>Batch Size</key>
<value>
    <name>Batch Size</name>
</value>
                            </entry>
                            <entry>
<key>Message Demarcator</key>
<value>
    <name>Message Demarcator</name>
</value>
                            </entry>
                            <entry>
<key>Zookeeper Commit Frequency</key>
<value>
    <name>Zookeeper Commit Frequency</name>
</value>
                            </entry>
                            <entry>
<key>Group ID</key>
<value>
    <name>Group ID</name>
</value>
                            </entry>
                            <entry>
<key>ZooKeeper Connection String</key>
<value>
    <name>ZooKeeper Connection String</name>
</value>
                            </entry>
                            <entry>
<key>Auto Offset Reset</key>
<value>
    <name>Auto Offset Reset</name>
</value>
                            </entry>
                            <entry>
<key>ZooKeeper Communications Timeout</key>
<value>
    <name>ZooKeeper Communications Timeout</name>
</value>
                            </entry>
                        </descriptors>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Topic Name</key>
<value>test-datetime</value>
                            </entry>
                            <entry>
<key>Kafka Communications Timeout</key>
<value>30 secs</value>
                            </entry>
                            <entry>
<key>Client Name</key>
<value>client_name</value>
                            </entry>
                            <entry>
<key>Batch Size</key>
<value>1</value>
                            </entry>
                            <entry>
<key>Message Demarcator</key>
<value>\n</value>
                            </entry>
                            <entry>
<key>Zookeeper Commit Frequency</key>
<value>60 secs</value>
                            </entry>
                            <entry>
<key>Group ID</key>
<value>group_id</value>
                            </entry>
                            <entry>
<key>ZooKeeper Connection String</key>
<value>sandbox.hortonworks.com:2181</value>
                            </entry>
                            <entry>
<key>Auto Offset Reset</key>
<value>largest</value>
                            </entry>
                            <entry>
<key>ZooKeeper Communications Timeout</key>
<value>30 secs</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <name>GetKafka</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.kafka.GetKafka</type>
                </processors>
                <processors>
                    <id>f155df39-c188-43b1-bc24-a25145ed57df</id>
                    <parentGroupId>5ddcd9a9-daa3-47a4-9009-aaf892e3a601</parentGroupId>
                    <position>
                        <x>-397.8943980771521</x>
                        <y>-38.653648218124374</y>
                    </position>
                    <config>
                        <annotationData>&lt;criteria&gt;
    &lt;flowFilePolicy&gt;USE_CLONE&lt;/flowFilePolicy&gt;
&lt;/criteria&gt;</annotationData>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments>
            </comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Delete Attributes Expression</key>
<value>
    <name>Delete Attributes Expression</name>
</value>
                            </entry>
                            <entry>
<key>filename</key>
<value>
    <name>filename</name>
</value>
                            </entry>
                        </descriptors>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Delete Attributes Expression</key>
                            </entry>
                            <entry>
<key>filename</key>
<value>${uuid}</value>
                            </entry>
                            <entry>
<key>Store State</key>
<value>Do not store state</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <name>GUID Filename</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
                </processors>
                <processors>
                    <id>079d846d-d951-4188-9613-03e38083e238</id>
                    <parentGroupId>5ddcd9a9-daa3-47a4-9009-aaf892e3a601</parentGroupId>
                    <position>
                        <x>-400.856927170168</x>
                        <y>118.58134959921074</y>
                    </position>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments>
            </comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Permissions umask</key>
<value>
    <name>Permissions umask</name>
</value>
                            </entry>
                            <entry>
<key>Hadoop Configuration Resources</key>
<value>
    <name>Hadoop Configuration Resources</name>
</value>
                            </entry>
                            <entry>
<key>Remote Owner</key>
<value>
    <name>Remote Owner</name>
</value>
                            </entry>
                            <entry>
<key>Compression codec</key>
<value>
    <name>Compression codec</name>
</value>
                            </entry>
                            <entry>
<key>IO Buffer Size</key>
<value>
    <name>IO Buffer Size</name>
</value>
                            </entry>
                            <entry>
<key>Remote Group</key>
<value>
    <name>Remote Group</name>
</value>
                            </entry>
                            <entry>
<key>Block Size</key>
<value>
    <name>Block Size</name>
</value>
                            </entry>
                            <entry>
<key>Kerberos Keytab</key>
<value>
    <name>Kerberos Keytab</name>
</value>
                            </entry>
                            <entry>
<key>Kerberos Principal</key>
<value>
    <name>Kerberos Principal</name>
</value>
                            </entry>
                            <entry>
<key>Replication</key>
<value>
    <name>Replication</name>
</value>
                            </entry>
                            <entry>
<key>Kerberos Relogin Period</key>
<value>
    <name>Kerberos Relogin Period</name>
</value>
                            </entry>
                            <entry>
<key>Directory</key>
<value>
    <name>Directory</name>
</value>
                            </entry>
                            <entry>
<key>Conflict Resolution Strategy</key>
<value>
    <name>Conflict Resolution Strategy</name>
</value>
                            </entry>
                        </descriptors>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Permissions umask</key>
                            </entry>
                            <entry>
<key>Hadoop Configuration Resources</key>
<value>/usr/hdp/current/hadoop-client/conf/core-site.xml,/usr/hdp/current/hadoop-client/conf/hdfs-site.xml</value>
                            </entry>
                            <entry>
<key>Remote Owner</key>
                            </entry>
                            <entry>
<key>Additional Classpath Resources</key>
                            </entry>
                            <entry>
<key>Compression codec</key>
<value>NONE</value>
                            </entry>
                            <entry>
<key>IO Buffer Size</key>
                            </entry>
                            <entry>
<key>Remote Group</key>
                            </entry>
                            <entry>
<key>Block Size</key>
                            </entry>
                            <entry>
<key>kerberos-credentials-service</key>
                            </entry>
                            <entry>
<key>Kerberos Keytab</key>
                            </entry>
                            <entry>
<key>Kerberos Principal</key>
                            </entry>
                            <entry>
<key>Replication</key>
                            </entry>
                            <entry>
<key>Kerberos Relogin Period</key>
<value>4 hours</value>
                            </entry>
                            <entry>
<key>Directory</key>
<value>/</value>
                            </entry>
                            <entry>
<key>Conflict Resolution Strategy</key>
<value>fail</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <name>PutHDFS</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.hadoop.PutHDFS</type>
                </processors>
                <processors>
                    <id>0aa72ec0-717f-4386-983f-73b8647ac810</id>
                    <parentGroupId>5ddcd9a9-daa3-47a4-9009-aaf892e3a601</parentGroupId>
                    <position>
                        <x>-395.9447668290362</x>
                        <y>-362.4760517957674</y>
                    </position>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Regular Expression</key>
<value>
    <name>Regular Expression</name>
</value>
                            </entry>
                            <entry>
<key>Replacement Value</key>
<value>
    <name>Replacement Value</name>
</value>
                            </entry>
                            <entry>
<key>Evaluation Mode</key>
<value>
    <name>Evaluation Mode</name>
</value>
                            </entry>
                            <entry>
<key>Character Set</key>
<value>
    <name>Character Set</name>
</value>
                            </entry>
                            <entry>
<key>Maximum Buffer Size</key>
<value>
    <name>Maximum Buffer Size</name>
</value>
                            </entry>
                            <entry>
<key>Replacement Strategy</key>
<value>
    <name>Replacement Strategy</name>
</value>
                            </entry>
                        </descriptors>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Regular Expression</key>
<value>(?s)(^.*$)</value>
                            </entry>
                            <entry>
<key>Replacement Value</key>
<value>${now():format('yyyymmdd_hhmmss')}|</value>
                            </entry>
                            <entry>
<key>Evaluation Mode</key>
<value>Entire text</value>
                            </entry>
                            <entry>
<key>Character Set</key>
<value>UTF-8</value>
                            </entry>
                            <entry>
<key>Maximum Buffer Size</key>
<value>1 MB</value>
                            </entry>
                            <entry>
<key>Replacement Strategy</key>
<value>Prepend</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <name>Append Timestamp to Content</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.ReplaceText</type>
                </processors>
                <processors>
                    <id>298fca06-1fb3-441e-a155-f6074181d1cf</id>
                    <parentGroupId>5ddcd9a9-daa3-47a4-9009-aaf892e3a601</parentGroupId>
                    <position>
                        <x>-392.23079214763175</x>
                        <y>-190.11086418254547</y>
                    </position>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments>NOTE: The demarcator here is set to \n in plaintext. (i.e I pressed Shift+Return to actually make a new line in the configuration area.)</comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Keep Path</key>
<value>
    <name>Keep Path</name>
</value>
                            </entry>
                            <entry>
<key>Maximum Group Size</key>
<value>
    <name>Maximum Group Size</name>
</value>
                            </entry>
                            <entry>
<key>Merge Strategy</key>
<value>
    <name>Merge Strategy</name>
</value>
                            </entry>
                            <entry>
<key>Attribute Strategy</key>
<value>
    <name>Attribute Strategy</name>
</value>
                            </entry>
                            <entry>
<key>Compression Level</key>
<value>
    <name>Compression Level</name>
</value>
                            </entry>
                            <entry>
<key>Maximum Number of Entries</key>
<value>
    <name>Maximum Number of Entries</name>
</value>
                            </entry>
                            <entry>
<key>Minimum Group Size</key>
<value>
    <name>Minimum Group Size</name>
</value>
                            </entry>
                            <entry>
<key>Maximum number of Bins</key>
<value>
    <name>Maximum number of Bins</name>
</value>
                            </entry>
                            <entry>
<key>Delimiter Strategy</key>
<value>
    <name>Delimiter Strategy</name>
</value>
                            </entry>
                            <entry>
<key>Merge Format</key>
<value>
    <name>Merge Format</name>
</value>
                            </entry>
                            <entry>
<key>Footer File</key>
<value>
    <name>Footer File</name>
</value>
                            </entry>
                            <entry>
<key>Max Bin Age</key>
<value>
    <name>Max Bin Age</name>
</value>
                            </entry>
                            <entry>
<key>Demarcator File</key>
<value>
    <name>Demarcator File</name>
</value>
                            </entry>
                            <entry>
<key>Correlation Attribute Name</key>
<value>
    <name>Correlation Attribute Name</name>
</value>
                            </entry>
                            <entry>
<key>Header File</key>
<value>
    <name>Header File</name>
</value>
                            </entry>
                            <entry>
<key>Minimum Number of Entries</key>
<value>
    <name>Minimum Number of Entries</name>
</value>
                            </entry>
                        </descriptors>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Keep Path</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Maximum Group Size</key>
                            </entry>
                            <entry>
<key>Merge Strategy</key>
<value>Bin-Packing Algorithm</value>
                            </entry>
                            <entry>
<key>Attribute Strategy</key>
<value>Keep Only Common Attributes</value>
                            </entry>
                            <entry>
<key>Compression Level</key>
<value>1</value>
                            </entry>
                            <entry>
<key>Maximum Number of Entries</key>
<value>1000</value>
                            </entry>
                            <entry>
<key>Minimum Group Size</key>
<value>500 B</value>
                            </entry>
                            <entry>
<key>Maximum number of Bins</key>
<value>100000</value>
                            </entry>
                            <entry>
<key>Tar Modified Time</key>
<value>${file.lastModifiedTime}</value>
                            </entry>
                            <entry>
<key>Delimiter Strategy</key>
<value>Text</value>
                            </entry>
                            <entry>
<key>Merge Format</key>
<value>Binary Concatenation</value>
                            </entry>
                            <entry>
<key>Footer File</key>
                            </entry>
                            <entry>
<key>Max Bin Age</key>
                            </entry>
                            <entry>
<key>Demarcator File</key>
<value>
</value>
                            </entry>
                            <entry>
<key>Correlation Attribute Name</key>
                            </entry>
                            <entry>
<key>Header File</key>
                            </entry>
                            <entry>
<key>Minimum Number of Entries</key>
<value>1</value>
                            </entry>
                            <entry>
<key>mergecontent-metadata-strategy</key>
<value>Do Not Merge Uncommon Metadata</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <name>Hold Flow until Suitable Size</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>merged</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>original</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.MergeContent</type>
                </processors>
            </contents>
            <name>KafkaRawToHDFS</name>
        </processGroups>
    </snippet>
    <timestamp>08/14/2018 21:22:13 EDT</timestamp>
</template>
